<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Вход | GameVerse</title>

	{% load static %}
	<link rel="stylesheet" href="{% static 'register_login/css/register.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
	
</head>
<body>

	<div class="form-container">

		<form method="POST" autocomplete="off", novalidate>
			{% csrf_token %}

			<h2> Login </h2>

			<h4>{{ form.username.label }}</h4>
			{{ form.username }}
			{% if form.errors.username %}
				<div class="error-message">{{ form.errors.username }}</div>
			{% endif %}

			<h4>{{ form.password.label }}</h4>
			{{ form.password }}
			{% if form.errors.password %}
				<div class="error-message">{{ form.errors.password }}</div>
			{% endif %}

			{% if form.non_field_errors %}
			    <div class="error-message">{{ form.non_field_errors }}</div>
			{% endif %}

			<input type="submit" value="Login">
		</form>

		<p>Нет аккаунта? <a href="{% url 'sign_up' %}" style="text-decoration: none;">Зарегистрируйтесь здесь</a></p>

	</div>

</body>
</html>