<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация | GameVerse</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'register_login/css/register.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="form-container">
        <h1>Регистрация</h1>

        <form method="POST" autocomplete="off">
            {% csrf_token %}

            {{ registerform.non_field_errors }}
            {{ registerform.as_p }}

            <input type="submit" value="Регистрация">
        </form>

        <p>Уже есть аккаунт? <a href="{% url 'sign_in' %}">Войдите здесь</a></p>
    </div>

</body>
</html>
