<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация | GameVerse</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'register_login/css/register.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="form-container">

        <form method="POST" autocomplete="off" novalidate>
            {% csrf_token %}

            <h2>Sign up</h2>

            <h4>{{ form.username.label }}</h4>
            {{ form.username }}
            <div class="error-message">{{ form.errors.username }}</div>

            <h4>{{ form.email.label }}</h4>
            {{ form.email }}
            <div class="error-message">{{ form.errors.email }}</div>

            <h4>{{ form.password1.label }}</h4>
            {{ form.password1 }}
            <div class="error-message">{{ form.errors.password1 }}</div>

            <h4>{{ form.password2.label }}</h4>
            {{ form.password2 }}
            <div class="error-message">{{ form.errors.password2 }}</div>

            <input type="submit" value="Регистрация">
        </form>

        <p>Уже есть аккаунт? <a href="{% url 'sign_in' %}">Войдите здесь</a></p>
    </div>

</body>
</html>
