body {
    font-family: 'Orbitron', sans-serif;
    background-color: radial-gradient(circle, rgba(34, 34, 34, 1) 0%, rgba(20, 20, 20, 1) 100%);
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.8);
    border-bottom: 2px solid rgba(0, 255, 255, 0.4);
    z-index: 1100;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.back-button {
    background-color: #00ffff;
    color: #111;
    border: 2px solid #00ffff;
    padding: 12px 20px;
    font-family: 'Orbitron', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    outline: none;
    margin-left: 5px;
}

.back-button:hover {
    background-color: #ff00ff;
    box-shadow: 0 0 10px rgba(255, 0, 255, 0.8);
    transform: scale(1.05);
}


.form-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    margin: 100px;
}

.avatar-container {
    position: relative;
    display: inline-block;
}

.avatar-container label {
    cursor: pointer;
}

.avatar-wrapper {
    position: relative;
    border: 2px solid rgba(0, 255, 255, 0.8);
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    display: flex;
}

.avatar {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s;
    object-fit: cover;
}

.edit-area, .delete-area {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: width 0.3s, opacity 0.3s;
    cursor: pointer;
}

.edit-area {
    left: 0;
}

.delete-area {
    right: 0;
}

.edit-area:hover {
    background-color: rgba(0, 255, 255, 0.5);
}

.delete-area:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

.avatar-wrapper:hover .avatar {
    opacity: 0.6;
}

.avatar-wrapper:hover .edit-area,
.avatar-wrapper:hover .delete-area {
    opacity: 1;
}

.avatar-wrapper:hover .edit-area:hover {
    width: 60%;
}

.avatar-wrapper:hover .edit-area:hover ~ .delete-area {
    width: 40%;
}

.avatar-wrapper:hover .delete-area:hover {
    width: 60%;
}

.avatar-wrapper:hover .delete-area:hover ~ .edit-area {
    width: 40%;
}

.avatar-placeholder {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #b0b0b0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #666;
    border: 2px solid rgba(0, 255, 255, 0.8);
}

.edit-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #00ffff;
    font-size: 24px;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.delete-icon {
    opacity: 0.7;
    color: red;
    font-size: 24px;
    transition: opacity 0.3s;
}

.avatar-container:hover .edit-icon {
    display: block;
    opacity: 1;
}

.avatar-container:hover .delete-icon{
    opacity: 1;
}

.avatar-container:hover .avatar {
    opacity: 0.6;
}

.error-message {
    color: #ff4444;
    font-size: 0.85rem;
    margin: 10px 0;
    border: 2px solid #ff4444;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(255, 68, 68, 0.1);
    animation: neonErrorPulse 1.5s infinite alternate;
    max-width: 150px;
    text-align: center;
}